@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.uploader {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 400px;
  padding: 25px;
}

/*FIRST DIV*/
.file--selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
}

.file--type {
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.035em;
  color: #828282;
}

.uploader--box {
  background: #F6F8FB;
  border: 1px dashed #97BEF4;
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 25px;
  padding-bottom: 20px;
  width: 90%;
}

.file-input {
  display: none;
}

.uploader--img {
  margin-top: 25px;
}

.indication {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: #BDBDBD;
  margin-top: 20px;
}

.uploader > div > p:nth-child(4) {
  font-size: 12px;
  color: #BDBDBD;
  margin: revert;
}

.choose--file {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #FFFFFF;
  background: #2F80ED;
  border-radius: 8px;
  border: none;
  padding: 7px 15px;
}

/*SECOND DIV*/
.uploading--box > p {
  font-size: 18px;
  letter-spacing: -0.035em;
  color: #4F4F4F;
  text-align: left;
  margin-top: 20px;
}

.uploading--box > mat-progress-bar {
  margin-top: 30px;
  margin-bottom: 20px;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #2F80ED;
}
