<div class="uploader">
  <div class="file--selection" *ngIf="!selectedFile">
    <h4 class="title">Upload your image</h4>
    <p class="file--type">File should be Jpeg, Png,...</p>
    <div class="uploader--box">
      <input type="file" class="file-input" accept="image/*"
             (change)="onFileSelected($event)" #fileUpload>
      <img
        (click)="fileUpload.click()"
        src="assets/images/image.svg"
        alt="this is where you click to upload your image"
        class="uploader--img">
      <p class="indication">Drag & Drop your image here...</p>
    </div>
    <p>or</p>
    <button (click)="fileUpload.click()" class="choose--file">Choose a file</button>
  </div>

  <div class="uploading--box" *ngIf="selectedFile && !downloadURL">
    <p>Uploading...</p>
    <mat-progress-bar mode="determinate" value="{{uploadPercent | async}}"></mat-progress-bar>
  </div>

  <div class="uploaded" *ngIf="downloadURL">
    <mat-icon aria-hidden="false" aria-label="Example home icon">check_circle</mat-icon>
    <p>Uploaded Successfully!</p>
    <img src="{{ downloadURL | async }}" alt="here is the image you just downloaded" class="image--dowloaded">
    <div class="url">
      <div class="image--url">
        <p>{{downloadURL | async}}</p>
      </div>
      <button mat-flat-button class="copy--btn" cdkCopyToClipboard="{{downloadURL | async}}">Copy Link</button>
    </div>
  </div>
</div>



